
{% block content %}
{% load static %}
 <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="#" class="logo"> <img src="image/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="{% url 'home' %}" class="nav-link">Home</a> </li>
          <li> <a href="{% url 'register' %}" class="nav-link">Register </a> </li>
          <li> <a href="{% url 'packages' %}" class="nav-link">Packages</a> </li>
          <li> <a href="{% url 'packages' %}" class="nav-link">Hotels</a> </li>
          <li> <a href="{% url 'login' %}" class="nav-link">login</a> </li>
          <li> <a href="#contact" class="nav-link">Contact</a> </li>
        </ul>

        <div class="hambuger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>
<link rel="stylesheet" href="{% static  'css/packages.css' %}">
<section class="offer mtop" id="services">
    <div class="container">
      <div class="heading">
        <h5>EXCLUSIVE OFFERS </h5>
        <h3>You can get an exclusive offer </h3>
      </div>

      <div class="content grid2 mtop">
        <div class="box flex">
          <div class="left">
            <img src="{% static 'images/et2.jpg' %}" alt="">
          </div>
          <div class="right">
            <h4>Afar</h4>
            <div class="rate flex">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p> one day stay at hotel lobiya , plus a best time in lake langano view , and full meal and drink </p>
            <h5>From $50.6/night</h5>
            <button class="flex1">
              <span>Check Availability</span>
              <i class="fas fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>
        <div class="box flex">
          <div class="left">
            <img src="{% static 'images/et9.jpg' %}" alt="">
          </div>
          <div class="right">
            <h4>Arbaminch</h4>
            <div class="rate flex">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p> A mix of charming, modern, natural and true place to stay and visit.
              You will have nice place at chamo lake, abaya lake And the mountains dorza lodge
               </p>
            <h5>From $50.6/night</h5>
            <button class="flex1">
              <span>Check Availability</span>
              <i class="fas fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>
        <div class="box flex">
          <div class="left">
            <img src="{% static 'images/et4.jpg' %}" alt="">
          </div>
          <div class="right">
            <h4>Hawassa</h4>
            <div class="rate flex">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p> Stay in Hawassa to enjoy the beautiful sunset by the lake.</p>
            <h5>From $50.6/night</h5>
            <button class="flex1">
              <span>Check Availability</span>
              <i class="fas fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>
        <div class="box flex">
          <div class="left">
            <img src="{% static 'images/et7.jpg' %}" alt="">
          </div>
          <div class="right">
            <h4>Bahirdar</h4>
            <div class="rate flex">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p> Stay at Bahirdar to enjoy the well maintained city with its lake and comfortable climate.</p>
            <h5>From $50.6/night</h5>
            <button class="flex1">
              <span>Check Availability</span>
              <i class="fas fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<form action="POST">
  <label for="">username</label>
  <input type="text" id="username" name="username" placeholder="input username"
</form>